// This covers any colors besides font which belongs to typography
.page-wrapper {
  background-color: $magenta-dark;
}

header,
footer{
  background-color: $green;
}
.summary p:last-child,
aside{
  background-color: $green;
}

.select ,
.archives,
.resources{
  background-color: $magenta-light;
  margin-left: -.5em;
  color: $white;
  font-size: 1em;
}