html,
body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  @include MQ(M){
    max-width: 74%;
    position: absolute;
    right: 0;
  } 
  @include MQ(L){
    max-width: 50%;
    position: absolute;
    right: 12%;
  } 
  margin: 0;
  padding: 0 2em;
}

header,
footer {
  margin: 0 -2em;
  
}

// This adds the download links to the top.
// I did it this way because we hadn't noticed this
// wasn't part of the sidebar in the HTML when we
// made the wireframes
.summary p:last-child {
  position: absolute;
  left: 0;
  top: 75px;
  padding: 2em;
  padding-left: 1em;
  padding-bottom: 0;
  max-width: 20vw;
  min-width: 150px;
  @include MQ(M){
    max-width: 15vw;
    min-width: 150px;
    left: -23.7%;
    top: 4.45%;
    z-index: inherit;
      }
  @include MQ(L){
    max-width: 20vw;
    min-width: 150px;
    right: 60%;
    left: -42%;
    top: 4.4%;
    z-index: inherit;
      }
}

// Hides aside and Downloads
// .summary p:last-child,
// aside {
//   display: none;
// }

aside {
  position: absolute;
  left: 0;
  top: 150px;
  padding: 2em;
  padding-left: 1em;
  max-width: 20vw;
  min-width: 150px;
  @include MQ(M){
    max-width: 15vw;
    min-width: 150px;
    left: -23.7%;
    top: 9.25%;
    z-index: inherit;
      }
  @include MQ(L){
    max-width: 20vw;
    min-width: 150px;
    right: 60%;
    left: -42%;
    top: 7.9%;
      }

  ul {
    padding: .75em;
  }

  li {
    display: block;
    padding: .5em 0;
  }

  li a:first-child {
    display: block;
  }
}

[role="article"] h3,
.requirements p:nth-child(5){
  border-bottom: .25em solid $green;
  }

.requirements{
  padding-bottom: 1em;
}

.select ,
.archives,
.resources{
  margin-bottom: 0;
}