
// color palette - these colors will be the color swatches of the Colors section

$magenta-dark: #8d1c45; // Magenta Dark
$magenta-light: #a65376; // Magenta Light
$green: #62bf04; // Green Light
$orange: #f23005; // Orange
$white: #ffffff; // White
$black: #000000; // Black

// fonts
$body-font: 'Shadows Into Light', cursive;
$heading-font: 'Merienda One', cursive;

// Break Points for Media Queries
$S: 32em;
$M: 52em;
$L: 64em;
